<div class="relative mt-4 w-full max-w-md overflow-auto bg-white rounded p-4 shadow-lg" style="max-height: 50vh;">
    <h4 class="text-xl font-bold mb-4 text-black">Response!</h4>
    <button class="absolute top-0 right-0 bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 mr-2 mt-2 text-xs rounded" hx-post="/close" hx-trigger="click" hx-target="#response">
        X
    </button>
    <p class="text-gray-600">{{.}}</p>
</div>