<!DOCTYPE html>
<html class="bg-gray-900">
<head>
    <title>Augur</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <div hx-post="/ensure-uuid" hx-swap="none" hx-trigger="load, every 60s"></div>
</head>
<body class="flex flex-col items-center justify-center h-screen space-y-4 text-white">
    <h1 class="text-4xl mb-4">Augur &#128021;</h1>
    <p class="mb-4">Generate system prompts for GPT applications.</p>
    <form class="w-full max-w-sm" hx-post="/work" hx-trigger="submit" hx-target="#response" hx-indicator="#spinner">
        <div class="flex items-center border-b border-teal-500 py-2">
           <input name="userInput" class="appearance-none bg-gray-700 border border-gray-600 w-full text-white ml-5 mr-3 py-1 px-2 leading-tight focus:outline-none rounded" type="text" placeholder="Enter an App Idea..." aria-label="Enter an App Idea"> 
           <button class="flex-shrink-0 border-gray-600 hover:border-gray-400 text-sm border-4 text-white py-1 px-2 rounded" type="submit">
                Go
            </button>
            <div id="spinner" class="ml-2 htmx-indicator" role="status">
                <svg aria-hidden="true" class="w-8 h-8 animate-spin text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="grey" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                </svg>
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <details class="mt-2">
            <summary>Additional Options</summary>
            <div class="relative mt-2 mb-2">
            <select name="modelDropdown" id="modelDropdown" title="Select a Model" hx-post="/switch-model" hx-trigger="change" class="w-full rounded-lg appearance-none cursor-pointer bg-gray-700 pl-4 text-sm" style="height: 24px;">
                <option value="anyscale,m8x7b">Mixtral 8x7B Instruct</option>
                <option value="openai,turbo35">ChatGPT 3.5 Turbo</option>
                <option value="openai,turbo">ChatGPT 4 Turbo Preview</option>
                <!--
                <option value="anyscale,m7b">Mistral7B Instruct</option>
                <option value="anyscale,l7b">Llama 2.7b Chat</option>
                <option value="anyscale,l13b">Llama 2.13b Chat</option>
                <option value="anyscale,l70b">Llama 2.70b Chat</option>
                <option value="anyscale,cl34b">Code Llama 34b</option>
                <option value="anyscale,cl70b">Code Llama 70b</option>
                -->
            </select>
            </div>
            <div class="relative mb-2">
                <label for="labels-range-input" class="sr-only">Labels range</label>
                <input name="tempInput" id="labels-range-input" title="Randomness" type="range" value="0.7" min="0.1" max="0.9" step="0.1" class="w-full h-2 rounded-lg appearance-none cursor-pointer bg-gray-700">
            </div>
        </details>
    </form>
    <div id="response"></div>
</body>
<footer class="bg-gray-900 p-4 text-center" style="flex-shrink: 0;">
    <p class="text-gray-400 text-sm"> <a href="https://github.com/ztkent">© 2024 Ztkent</a></p>
</footer>
</html>

<script>
function getPromptValues() {
    let inputs = document.querySelectorAll('input[type=hidden]');
    let values = {};
    inputs.forEach(input => {
        values[input.id] = input.value;
    });
    return JSON.stringify(values);
}
</script>